<h1>About</h1>

<p>
    長野ケーキは全国へ発送可能な最高級のケーキ屋さんです<br>
    ショートケーキ、モンブラン、フルーツタルトと様々な種類のケーキを提供しております<br>
    また、24時間対応のデリバリーシステムにも対応しています。年中無休で皆様の元へ長野ケーキをお届けさせて頂きます<br>
    是非、長野ケーキよりご注文をよろしくお願いします。
</p>