<head>
  <div style="background-color: orange;">
    <div class="text-center">
    <h1>Welcome!!!</h1>
  　</div>
  </div>
</head>



<h1>ながのCAKEようこそ！</h1>

<p>長野県にある美味しいケーキ販売のECサイトです<br>
購入時には会員登録が必要になります。</p>

<%= link_to "aboutページ", public_about_path %>


<%= image_tag 'chocolate_cake1.JPG' %>