<div class="container">
  <div class="row mt-3 mb-3 offset-1 text-center">
    <h2>ジャンル編集</h2>
  </div>

  <%= form_with model: @genre, url: admin_genre_path,method: :patch do |f| %>
    <form class="form-horizontal">
      <div class="form-group row my-3">
        <%= f.label :"ジャンル名",class:"col-sm-2 control-label" %>
        <div class="col-sm-3">
          <%= f.text_field :name,class:"form-control" %>
        </div>
        <%= f.submit "変更を保存", class: "btn btn-success" %>
      </div>
    </form>
  <% end %>
</div>