<div style="background-color: orange;">
<h1>ながのcake</h1>
 </div>


<div class="container-fluid">
  <div class="row">
    <div class"mx-auto">


        <p>ながのCAKEは全国へ発送可能な最高級のケーキ屋さんです。<br>
            ケーキ、洋菓子、クッキー、タルトと様々な種類のスイーツを提供しております。<br>
            是非、ながのCAKEよりご注文をよろしくお願いします。
        </p>
        <%= image_tag 'chocolate_cake2.JPG' %>


        <h1>※注文時の注意事項について</h1>
        <p> ・注文に応じて製作する受注生産型となっています<br>
            ・送料は1配送につき全国一律800円<br>
            ・友人や家族へのプレゼントなど、注文者の住所以外にも発送可能<br>
            ・支払方法はクレジットカード、銀行振込から選択可能
        </p>

    </div>
  </div>
</div>


<div class="te-center">
  サンプルテキスト
</div>