<div class="container">
  <div class="row">
    <div class="col mx-auto d-flex justify-content-center align-items-center" style="height: 500px;">
      <div><%= image_tag "thank_you.JPG", :size => "500x450" %></div>
    </div>
  </div>
  <h1 class="text-center">ご注文ありがとうございました!</h1>
</div>