<div class="container">
  <div class="row">
    <div class="col mx-auto d-flex justify-content-center align-items-center" style="height: 500px;">
      <h1 class="text-center">ご注文ありがとうございました!</h1>
      <p><%= image_tag "thank_you.JPG", :size => "500x500" %></p>
    </div>
  </div>
</div>